.mk-employee-container{
    margin: 2em 0;
}


h1.team-member-name {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
}

.team-member-position {
    font-size: 1.2em;
}


.employee-img img {
    border-radius: 50%;
}


ul.mk-employeee-networks {
    margin: 1em 0 0.5em !important;
    padding: 0 !important;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.mk-employeee-networks a {
    border: 1px solid #b2b2b2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    margin: 0 0.2em;
}

.mk-employeee-networks i:before {
    color: #aaaaaa;
}

.mk-employeee-networks i:hover:before {
    transition: all 0.2s;
    color: #797979;
}


.employee-style-1, .employee-style-2 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.single-employee-sidebar {
    text-align: center;
    padding: 1em;
}


.single-employee-content {
    padding: 2em;
    justify-content: center;
}


@media screen and (min-width: 40em) {
    .single-employee-sidebar {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 1 calc(25% - .5em);
        -ms-flex: 0 1 calc(25% - .5em);
        flex: 0 1 calc(25% - .5em);
        margin-bottom: 1em;
        flex-direction: column;
    }


    .single-employee-content {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 1 calc(75% - .5em);
        -ms-flex: 0 1 calc(75% - .5em);
        flex: 0 1 calc(75% - .5em);
        margin-bottom: 1em;
        flex-direction: column;
    }
}



.employee-style-3 .employee-img img {
    max-width: 250px;
}

.single-employee-hero-title {
    text-align: center;
    padding: 2em;
}